# Entregable Actividad 01 

- **Fuente de datos**: https://rndc.mintransporte.gov.co/MenuPrincipal/tabid/204
- **Intro**: Leer archivos mediante las librerias pandas. 
- **Objetivo principal**: identificar los reportes generados al ano y mes de registros urbanos y nacionales, con su numero de manifiesto,fecha expedicion,origen de manifiesto,destino de manifiesto,valor del flete, numero de placa, cedula conductor vehiculo, nombre conductor del vehiculo.

In [5]:
## Importancion de librerias para el desarrollo de la actividad

import pandas as pd 
import numpy as np
import os 
import warnings
warnings.filterwarnings("ignore")

In [6]:

path=os.getcwd() ## obtner la ruta del trabajo actual 
print(os.listdir()) ## listar los archiuvos del directorio

['01-Desarrollo-data-portencial.ipynb', 'Data_RNDC.csv', 'Data_rndc_year_2024.csv', 'netflix_titles.csv']

In [7]:
## Lista de comprension con el proposito de filtrar solo aquellos que contienen la cadena Data_ y lo selecciona
file_name=[x for x in os.listdir() if 'Data_rndc_year' in x][0] 
## Arroja resultado del filtro
file_name

'Data_rndc_year_2024.csv'

En el codigo anterior importamos las librerias que nos ayudaran apara poder leer el archivo con el que trabajaremos, adiconal a eso obtendremos la ruta, listaremos, localizaremos y mostraemos el directio u archivo sobre el que trabajeremos

## Extraccion de los datos

In [8]:
## Lectura de archivo y encoding
rndc=pd.read_csv(path+ '\\' +  file_name,sep=";",encoding='utf-8')
##Resultado de lectura
rndc

,Item,Fecha,Sucursal,Origen,Destino,Nit,Cliente,Categoria,Orden de Servicio,Doc. Cliente,...,Nit REmite,Nombre Remite,Direccion Remite,DANE Remite,Nit Destino,Nombre Destino,Direccion Destino,DANE Destino,Razon,Observaciones Conductor - Veh√≠culo
0,1,2/01/2024,ATA BOGOTA,BOGOTA,BOGOTA,900294923,AVICOLA TRIPLE A S.A.S,NaN,5835,H5000,...,9002949239,AVICOLA TRIPLE A S.A.S.,Boyaca calle 13,11001,9002949239,AVICOLA TRIPLE A S.A.S,CALLE 18 69F 86,11001,NaN,-
1,2,2/01/2024,ATA BOGOTA,BOGOTA,BOGOTA,900294923,AVICOLA TRIPLE A S.A.S,NaN,5836,H5000,...,9002949239,AVICOLA TRIPLE A S.A.S.,Boyaca calle 13,11001,9002949239,AVICOLA TRIPLE A S.A.S,CALLE 18 69F 86,11001,NaN,-
2,3,2/01/2024,ATA BOGOTA,BOGOTA,BOGOTA,900294923,AVICOLA TRIPLE A S.A.S,NaN,5837,H5000,...,9002949239,AVICOLA TRIPLE A S.A.S.,Boyaca calle 13,11001,9002949239,AVICOLA TRIPLE A S.A.S,CALLE 18 69F 86,11001,NaN,-
3,4,2/01/2024,ATA BOGOTA,BOGOTA,BOGOTA,900294923,AVICOLA TRIPLE A S.A.S,NaN,5838,H5000,...,9002949239,AVICOLA TRIPLE A S.A.S.,Boyaca calle 13,11001,9002949239,AVICOLA TRIPLE A S.A.S,CALLE 18 69F 86,11001,NaN,-
4,5,2/01/2024,ATA BOGOTA,BOGOTA,BOGOTA,900294923,AVICOLA TRIPLE A S.A.S,NaN,5839,H5001,...,9002949239,AVICOLA TRIPLE A S.A.S.,Boyaca calle 13,11001,9002949239,AVICOLA TRIPLE A S.A.S,CALLE 18 69F 86,11001,NaN,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18561,18562,31/12/2024,ATA BOGOTA,BOGOTA,BOGOTA,900294923,AVICOLA TRIPLE A S.A.S,NaN,25661,H5000,...,9002949239,AVICOLA TRIPLE A S.A.S.,Boyaca calle 13,11001,9002949239,AVICOLA TRIPLE A S.A.S,CALLE 18 69F 86,11001,NaN,-
18562,18563,31/12/2024,ATA BOGOTA,BOGOTA,BOGOTA,900294923,AVICOLA TRIPLE A S.A.S,NaN,25663,H5000,...,9002949239,AVICOLA TRIPLE A S.A.S.,Boyaca calle 13,11001,9002949239,AVICOLA TRIPLE A S.A.S,CALLE 18 69F 86,11001,NaN,-
18563,18564,31/12/2024,ATA BOGOTA,BOGOTA,BOGOTA,900294923,AVICOLA TRIPLE A S.A.S,NaN,25662,H5000,...,9002949239,AVICOLA TRIPLE A S.A.S.,Boyaca calle 13,11001,9002949239,AVICOLA TRIPLE A S.A.S,CALLE 18 69F 86,11001,NaN,-
18564,18565,31/12/2024,OPAV TOCANCIPA,TOCANCIPA,TOCANCIPA,891401858,OPERADORA AVICOLA DE COLOMBIA S.A.S,NaN,25707,5874,...,891401858,OPERADORA AVICOLA DE COLOMBIA S.A.S TOCANCIPA,Parque Industrial del Norte,25817,8914018586,OPERADORA AVICOLA DE COLOMBIA S.A.S TOCANCIPA,DISTRIBUCI√É‚ÄúN TOCANCIPA,25817,NaN,-
18565,18566,31/12/2024,ATA BOGOTA,BOGOTA,BOGOTA,900294923,AVICOLA TRIPLE A S.A.S,NaN,25664,H5000,...,9002949239,AVICOLA TRIPLE A S.A.S.,Boyaca calle 13,11001,9002949239,AVICOLA TRIPLE A S.A.S,CALLE 18 69F 86,11001,NaN,-

**Datos potenciales**

In [9]:
## Tipo de dataset
type(rndc)

pandas.core.frame.DataFrame

In [10]:
##Dimensiones
rndc.shape

(18566, 85)

In [12]:
## Filtro de datos relevantes mas la suma de los mismos
print(rndc["Sucursal"].value_counts().head(20))

Sucursal
OPAV TOCANCIPA          5602
OPAV FUNZA              3083
ATA BOGOTA              2969
OLIMPICO BOGOTA         2741
MILUC BOGOTA            2262
OPAV RIONEGRO           1200
BIGMARKET COTA           292
OPAV IBAGUE              227
AGROINDUSTRIA BOGOTA     150
ANTILLANA TOCANCIPA       40
Name: count, dtype: int64

In [13]:
## Opcion 01 para el filtrado de datos relevantes mas la suma de los mismos
rndc["Sucursal"].value_counts().head(20)

Sucursal
OPAV TOCANCIPA          5602
OPAV FUNZA              3083
ATA BOGOTA              2969
OLIMPICO BOGOTA         2741
MILUC BOGOTA            2262
OPAV RIONEGRO           1200
BIGMARKET COTA           292
OPAV IBAGUE              227
AGROINDUSTRIA BOGOTA     150
ANTILLANA TOCANCIPA       40
Name: count, dtype: int64

In [14]:
## Identifacion de columnas de datasets
rndc.columns

Index(['Item', 'Fecha', 'Sucursal', 'Origen', 'Destino', 'Nit', 'Cliente',
       'Categoria', 'Orden de Servicio', 'Doc. Cliente', 'Doc. Cliente 2',
       'Mercancia', 'Embalaje', 'Modalidad', 'Descripci√≥n Precinto', 'Remesa',
       'Manifiesto', 'Man.Electronico', 'P√≥liza Estampilla CHUBB',
       'P√≥liza Estampilla Allianz', 'Peso', 'Entregado', 'C.C. Conductor',
       'Conductor', 'Celular', 'Placa', 'PlacaR', 'Id del Vehiculo',
       'Tipo Veh.', 'C.C. Tenedor', 'Tenedor', 'C.C. Propietario',
       'Propietario', 'C.C. Trayler', 'P Trayler', 'Valor Orden',
       'Costo Orden', 'Comision Orden', 'Rentabilidad', 'Rentabilidad %',
       'Anticipo', 'Flete Factura', 'Devolucion Factura', 'Acompanante Fctura',
       'Cargue Fac', 'Descargue Fac', 'Comision Fac', 'Montacarga Fac',
       'Otros Fac', 'Stand By Fac', 'Seguro Fac', 'Flete Man',
       'Devolucion Man', 'Seguro Aseg', 'Acompanante Man', 'Cargue Man',
       'Descargue Man', 'Comision Terc', 'Montacarga Man', 'Otros Man',
       'Stand by Man', 'Asiscar', 'Inicio Viaje', 'Fin de Viaje',
       'Fecha Cumplido', 'Fecha Liq.', 'Recibo de Caja', 'Fecha de Pago',
       'Factura', 'Fecha Recibo de Caja', 'Vr Facturado', 'Fecha Factura',
       'Fecha Vencimiento', 'Estado', 'Vendedor', 'Nit REmite',
       'Nombre Remite', 'Direccion Remite', 'DANE Remite', 'Nit Destino',
       'Nombre Destino', 'Direccion Destino', 'DANE Destino', 'Razon',
       'Observaciones Conductor - Veh√≠culo'],
      dtype='object')

In [15]:
## Filtrado de columnas potenciales
rndc_columns=rndc[["Item","Fecha","Sucursal","Modalidad","Peso","Origen","Destino","Valor Orden","Costo Orden","Rentabilidad","Flete Factura","Factura"]]
rndc_columns

,Item,Fecha,Sucursal,Modalidad,Peso,Origen,Destino,Valor Orden,Costo Orden,Rentabilidad,Flete Factura,Factura
0,1,2/01/2024,ATA BOGOTA,Urbano,1353.0,BOGOTA,BOGOTA,250000.0,190000.0,60000,250000.0,NaN
1,2,2/01/2024,ATA BOGOTA,Urbano,1155.0,BOGOTA,BOGOTA,250000.0,190000.0,60000,250000.0,NaN
2,3,2/01/2024,ATA BOGOTA,Urbano,1157.0,BOGOTA,BOGOTA,250000.0,190000.0,60000,250000.0,NaN
3,4,2/01/2024,ATA BOGOTA,Urbano,1352.0,BOGOTA,BOGOTA,250000.0,190000.0,60000,250000.0,NaN
4,5,2/01/2024,ATA BOGOTA,Urbano,1111.0,BOGOTA,BOGOTA,250000.0,190000.0,60000,250000.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
18561,18562,31/12/2024,ATA BOGOTA,Urbano,1541.0,BOGOTA,BOGOTA,314700.0,242000.0,72700,314700.0,NaN
18562,18563,31/12/2024,ATA BOGOTA,Urbano,1187.0,BOGOTA,BOGOTA,273200.0,205000.0,68200,273200.0,NaN
18563,18564,31/12/2024,ATA BOGOTA,Urbano,1438.0,BOGOTA,BOGOTA,314700.0,242000.0,72700,314700.0,NaN
18564,18565,31/12/2024,OPAV TOCANCIPA,Urbano,1800.0,TOCANCIPA,TOCANCIPA,427434.0,330000.0,97434,427434.0,NaN
18565,18566,31/12/2024,ATA BOGOTA,Urbano,1903.0,BOGOTA,BOGOTA,314700.0,242000.0,72700,314700.0,NaN

In [16]:
## con el metodo head se traen el numero indicado de las primeras filas 
rndc_columns.head(20)

,Item,Fecha,Sucursal,Modalidad,Peso,Origen,Destino,Valor Orden,Costo Orden,Rentabilidad,Flete Factura,Factura
0,1,2/01/2024,ATA BOGOTA,Urbano,1353.0,BOGOTA,BOGOTA,250000.0,190000.0,60000,250000.0,NaN
1,2,2/01/2024,ATA BOGOTA,Urbano,1155.0,BOGOTA,BOGOTA,250000.0,190000.0,60000,250000.0,NaN
2,3,2/01/2024,ATA BOGOTA,Urbano,1157.0,BOGOTA,BOGOTA,250000.0,190000.0,60000,250000.0,NaN
3,4,2/01/2024,ATA BOGOTA,Urbano,1352.0,BOGOTA,BOGOTA,250000.0,190000.0,60000,250000.0,NaN
4,5,2/01/2024,ATA BOGOTA,Urbano,1111.0,BOGOTA,BOGOTA,250000.0,190000.0,60000,250000.0,NaN
5,6,2/01/2024,ATA BOGOTA,Urbano,1396.0,BOGOTA,BOGOTA,250000.0,190000.0,60000,250000.0,NaN
6,7,3/01/2024,ATA BOGOTA,Urbano,1197.0,BOGOTA,BOGOTA,250000.0,190000.0,60000,250000.0,NaN
7,8,3/01/2024,ATA BOGOTA,Urbano,1188.0,BOGOTA,BOGOTA,250000.0,190000.0,60000,250000.0,NaN
8,9,3/01/2024,ATA BOGOTA,Urbano,1151.0,BOGOTA,BOGOTA,250000.0,190000.0,60000,250000.0,NaN
9,10,3/01/2024,ATA BOGOTA,Nacionalizado,2222.0,BOGOTA,ZIPAQUIRA,340000.0,280000.0,60000,340000.0,NaN
10,11,3/01/2024,ATA BOGOTA,Urbano,1102.0,BOGOTA,BOGOTA,250000.0,190000.0,60000,250000.0,NaN
11,12,3/01/2024,ATA BOGOTA,Urbano,1115.0,BOGOTA,BOGOTA,250000.0,190000.0,60000,250000.0,NaN
12,13,3/01/2024,ATA BOGOTA,Urbano,1334.0,BOGOTA,BOGOTA,250000.0,190000.0,60000,250000.0,NaN
13,14,3/01/2024,ATA BOGOTA,Nacionalizado,1311.0,BOGOTA,MADRID,250000.0,200000.0,50000,250000.0,NaN
14,15,4/01/2024,ATA BOGOTA,Urbano,1169.0,BOGOTA,BOGOTA,250000.0,190000.0,60000,250000.0,NaN
15,16,4/01/2024,ATA BOGOTA,Urbano,1182.0,BOGOTA,BOGOTA,250000.0,190000.0,60000,250000.0,NaN
16,17,4/01/2024,ATA BOGOTA,Urbano,1141.0,BOGOTA,BOGOTA,250000.0,190000.0,60000,250000.0,NaN
17,18,4/01/2024,ATA BOGOTA,Urbano,1247.0,BOGOTA,BOGOTA,250000.0,190000.0,60000,250000.0,NaN
18,19,4/01/2024,ATA BOGOTA,Urbano,1147.0,BOGOTA,BOGOTA,250000.0,190000.0,60000,250000.0,NaN
19,20,4/01/2024,ATA BOGOTA,Urbano,1389.0,BOGOTA,BOGOTA,250000.0,190000.0,60000,250000.0,NaN

In [17]:
## con el metodo tail traemos el numero de filas indicados de las ultimas filas 
rndc_columns.tail(20)

,Item,Fecha,Sucursal,Modalidad,Peso,Origen,Destino,Valor Orden,Costo Orden,Rentabilidad,Flete Factura,Factura
18546,18547,31/12/2024,OLIMPICO BOGOTA,Nacionalizado,501.8,BOGOTA,FACATATIVA,160617.66,0.0,160617.66,160617.66,STBG401
18547,18548,31/12/2024,OLIMPICO BOGOTA,Urbano,719.8,BOGOTA,BOGOTA,146119.40,284000.0,-137880.6,146119.40,STBG401
18548,18549,31/12/2024,OLIMPICO BOGOTA,Urbano,1439.6,BOGOTA,BOGOTA,289676.94,284000.0,5676.94,289676.94,STBG401
18549,18550,31/12/2024,OLIMPICO BOGOTA,Urbano,1230.0,BOGOTA,BOGOTA,241884.65,284000.0,-42115.35,241884.65,STBG401
18550,18551,31/12/2024,OLIMPICO BOGOTA,Urbano,1731.4,BOGOTA,BOGOTA,347333.00,284000.0,63333,347333.00,STBG401
18551,18552,31/12/2024,OLIMPICO BOGOTA,Nacionalizado,1443.4,BOGOTA,SOACHA,280661.71,330000.0,-49338.29,280661.71,STBG401
18552,18553,31/12/2024,OLIMPICO BOGOTA,Urbano,2203.2,BOGOTA,BOGOTA,441188.02,284000.0,157188.02,441188.02,STBG401
18553,18554,31/12/2024,OLIMPICO BOGOTA,Urbano,1338.4,BOGOTA,BOGOTA,268885.68,284000.0,-15114.32,268885.68,STBG401
18554,18555,28/12/2024,MILUC BOGOTA,Urbano,2598.7,BOGOTA,BOGOTA,405736.10,299870.0,105866.1,405736.10,STBG407
18555,18556,30/12/2024,MILUC BOGOTA,Urbano,1647.0,BOGOTA,BOGOTA,333346.30,270000.0,63346.3,333346.30,STBG407
18556,18557,31/12/2024,MILUC BOGOTA,Urbano,1200.4,BOGOTA,BOGOTA,242909.80,270000.0,-27090.2,242909.80,STBG407
18557,18558,31/12/2024,ATA BOGOTA,Urbano,1131.0,BOGOTA,BOGOTA,273200.00,205000.0,68200,273200.00,NaN
18558,18559,31/12/2024,ATA BOGOTA,Urbano,1394.0,BOGOTA,BOGOTA,314700.00,242000.0,72700,314700.00,NaN
18559,18560,31/12/2024,ATA BOGOTA,Urbano,1177.0,BOGOTA,BOGOTA,314700.00,242000.0,72700,314700.00,NaN
18560,18561,31/12/2024,ATA BOGOTA,Urbano,1541.0,BOGOTA,BOGOTA,314700.00,242000.0,72700,314700.00,NaN
18561,18562,31/12/2024,ATA BOGOTA,Urbano,1541.0,BOGOTA,BOGOTA,314700.00,242000.0,72700,314700.00,NaN
18562,18563,31/12/2024,ATA BOGOTA,Urbano,1187.0,BOGOTA,BOGOTA,273200.00,205000.0,68200,273200.00,NaN
18563,18564,31/12/2024,ATA BOGOTA,Urbano,1438.0,BOGOTA,BOGOTA,314700.00,242000.0,72700,314700.00,NaN
18564,18565,31/12/2024,OPAV TOCANCIPA,Urbano,1800.0,TOCANCIPA,TOCANCIPA,427434.00,330000.0,97434,427434.00,NaN
18565,18566,31/12/2024,ATA BOGOTA,Urbano,1903.0,BOGOTA,BOGOTA,314700.00,242000.0,72700,314700.00,NaN

In [18]:
## Filtrado de dastos unicos
rndc["Sucursal"].unique()

array(['ATA BOGOTA', 'OPAV FUNZA', 'OPAV RIONEGRO', 'BIGMARKET COTA',
       'OPAV IBAGUE', 'MILUC BOGOTA', 'OLIMPICO BOGOTA',
       'AGROINDUSTRIA BOGOTA', 'OPAV TOCANCIPA', 'ANTILLANA TOCANCIPA'],
      dtype=object)

In [21]:
## suma de viajes echos por cada ciudad segun el numero indicado
rndc['Destino'].value_counts().head(20)

Destino
BOGOTA               13359
SOACHA                 977
FACATATIVA             796
RIONEGRO               620
FUNZA                  447
IBAGUE                 285
ZIPAQUIRA              225
VILLAVICENCIO          180
TUNJA                  163
CHIA                   161
TOCANCIPA              157
MOSQUERA               153
MADRID                 144
CAJICA                 113
GUATAPE                 94
CARMEN DE VIBORAL       92
SANTUARIO               91
LA CEJA                 90
EL RETIRO               89
MARINILLA               76
Name: count, dtype: int64